.navigation {
  width: 100%;
  height: auto;
}

.navigation__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  max-width: 11rem;
  padding: 0;
  list-style: none;
}

.navigation__item {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.navigation__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: var(--color-very-dark-blue);
}

.navigation__icon {
  width: 50%;
  height: 50%;
  color: var(--color-icon);
  transition: color 150ms;
}

.navigation__link:hover > .navigation__icon {
  color: var(--color-pale-blue);
}

@media screen and (min-width: 300px) {
  .navigation__list {
    gap: 1rem;
  }
}