.page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--color-very-dark-blue);
}

.page__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.page__background {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/images/bg-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 970px) {
  .page__content {
    flex-direction: row;
  }
  
  .page__background {
    height: 50%;
    background-image: url("/src/images/bg-desktop.png");
    background-size: cover;
    background-position: left top;
  }
}