.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--color-very-dark-blue);
}

.page__section {
  width: 100%;
  padding: 2.5rem;
  background-color: var(--color-dark-blue);
}

.page__section--header {
  margin-bottom: 1rem;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 6.25rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.page__section--body {
  border-radius: 0.75rem;
}

.page__logo {
  margin-bottom: 2rem;
}

.page__title {
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--color-pale-blue);
  text-align: center;
}

.page__title-bold {
  font-weight: 700;
}