@import "styles/reset.css";

@import "styles/navigation.css";
@import "styles/page.css";
@import "styles/popover.css";
@import "styles/range.css";

:root {
  --color-gradient-from: hsl(6, 100%, 80%);
  --color-gradient-to: hsl(335, 100%, 65%);
  --color-pale-blue: hsl(243, 100%, 93%);
  --color-grayish-blue: hsl(229, 7%, 55%);
  --color-dark-blue: hsl(228, 56%, 26%);
  --color-very-dark-blue: hsl(229, 57%, 11%);
  --color-icon: hsl(228, 55%, 62%);
  --color-white: hsl(0, 0%, 100%);

  --popover-animation-from: translate3d(0, 100%, 0) translateX(-50%);
  --popover-animation-to: translate3d(0, 0, 0) translateX(-50%);
}

@media screen and (min-width: 970px) {
  :root {
    --popover-animation-from: translate3d(0, -100%, 0);
    --popover-animation-to: translate3d(0, 0, 0);
  }
}